.myBackGround {
    background-color: aqua;
    width: 970px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.Banner {
    color: gray;
    background-color:antiquewhite;
}

body {
    
}
